$hoothoot-body-color: #8B4840;
$border-pupil-color: black;
$hoothoot-belly:#D2AE9F;
$hoothoot-beak-1:#F779A0;
$hoothoot-beak-2:#F5598A;
$background-1:#FF9090;
$background-2:#FFD4D4;
$hoothoot-eye-color:#A13333;

$gradient:linear-gradient($background-1,50%,$background-2);
$beak-gradient:linear-gradient($hoothoot-beak-1,50%,$hoothoot-beak-2);